@{
    ViewData["Title"] = "Página Inicial do Aluno";
}

<h1>Bem vindo ao EscolaPlus</h1>
<h2>Painel do Aluno</h2>
<ul>
    <li><a asp-asp-controller="Notas" asp-action="Index">Gerenciar Notas</a></li>
    <li><a asp-asp-controller="Disciplina" asp-action="Index">Gerenciar Disciplinas</a></li>
    <li><a asp-asp-controller="Atividades" asp-action="Index">Gerenciar Atividades</a></li>
</ul>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>